.foto{
    width:54%
} 
     
body{ 
    background-color: #4682b4;
    display: flex;
    margin: 12px;
    justify-content: space-evenly;
    align-items: center;
} 
      
div{ 
margin: 20px;
padding: 20px;
}